{% extends "laundry_day/base_template.html" %} 

{% block content %}
<div class="container-fluid">



    {%if user%}

        <h1 style = "text-align: center;">Hello {{first_name}}</h1>

    {%else%}

        <h1>User not found</h1>

    {%endif%}

        <div style= "margin-top: 50px;">
            <h2>Relatives</h2>
            <ul class= "list-group list-group-flush">
                {%for relative in relatives%}
                    <li class="list-group-item">{{relative.first_name}} {{relative.last_name}} </li>
                {%endfor%}
                {%for child in children%}
                    <li class="list-group-item">{{child.first_name}} {{child.last_name}}</li>
                {%endfor%}
            </ul>
        </div>
        
        <div style="margin-top: 100px;">
            <h2 >Laundry Requests</h2>
            <ul>
                {%for request in laundry_requests%}
                    <li class = "list-group-item">
                        <p>From: {{request.from_user}}</p>
                        <p>{{request}}</p></li>
                {%endfor%}
                
            </ul>
            <a class = "btn btn-outline-primary" href="{%url 'create_laundry_request' pk=user.id %}">Make a Laundry Request</a>
            <a class = "btn btn-outline-primary" href="{%url 'laundry_request_detail' user.id%}">To My Laundry Requests</a>
        </div>

  
</div>

    
    
    
{% endblock %}


