{% extends "laundry_day/base_template.html" %} 

{% block content %}
<div class="container-fluid">



    {%if user%}

        <h1>Hello {{user.name}}</h1>

    {%else%}

        <h1>User not found</h1>

    {%endif%}

    
    

        <div>
            <h2>Relatives</h2>
            <ul class= "list-group list-group-flush">
                {%for relative in relatives%}
                    <li class="list-group-item">{{relative.name}}</li>
                {%endfor%}
                {%for child in children%}
                    <li class="list-group-item">{{child.name}}</li>
                {%endfor%}
            </ul>
        </div>
        
        <div style="margin-top: 100px;">
            <h2>Laundry Request</h2>
            <h4>Make a Laundry Request</h4> 
            <a class = "btn btn-primary" href="{%url 'create_laundry_request' pk=user.id %}">Laundry Request</a>
            <ul>
                {%for request in laundry_requests%}
                    <li>{{request}}</li>
                {%endfor%}
                
            </ul>
        </div>

        <div style="margin-top: 100px;"> 
            <a class = "btn btn-primary" href="{%url 'laundry_request_detail' user.id%}">To My Laundry Requests</a>
        </div>


        

    


    

    

</div>

    
    
    
{% endblock %}


