{% extends 'laundry_day/base_template.html' %}

{% block content %}
  <div class="container-fluid">
    {% if user %}
      <h1 style="text-align: center;" class="text-5xl font-bold">Hello {{ first_name }} {{last_name}}</h1>
    {% else %}
      <h1>User not found</h1>
    {% endif %}

    <h1 class="text-3xl font-bold">Families</h1>
    {% for family_name, family_info in family.items %}
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">{{family_name}}</h2>
          
            <ul>
                {% for member in family_info.members %}
                <li>{{ member }}</li>
                {% endfor %}
            </ul>
        <div class="card-actions justify-end">
          <a href="{%url 'family_detail' family_info.id%}" class="btn btn-primary">View Family</a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div style="margin-top: 100px;">
      <h2>Laundry Requests</h2>
      <ul>
        {% for request in laundry_requests %}
          <li class="list-group-item">
            <p>From: {{ request.from_user }}</p>
            <p>{{ request }}</p>
          </li>
        {% endfor %}
      </ul>
      <a class="btn btn-outline-primary" href="{% url 'create_laundry_request' pk=user.id %}">Make a Laundry Request</a>
      <a class="btn btn-outline-primary" href="{% url 'laundry_request_detail' user.id %}">To My Laundry Requests</a>
    </div>
  </div>
{% endblock %}
